@import '~@avalanche/generic-box-sizing-reset';
@import '~reset-css/sass/reset';

body {
  font-size: 10pt;
  line-height: 1.4;
  color: #222;
  font-family: sans-serif;
}

strong {
  font-weight: 700;
}
